// Required meta tags 
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

title= title

// Bootstrap CSS 
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')

// Font Awesome
link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

// Plyr player
if (page == 'media')
	link(rel='stylesheet', href='/stylesheets/plyr.css')
	link(rel='stylesheet', href='/stylesheets/loading.css')

link(rel='stylesheet', href='/stylesheets/global.css')

script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='/javascripts/js.cookie.js')