extends layout

block content
	div(class='container-fluid')
		div(class='row justify-content-center mt-3')
			div(class='col-sm-12 col-md-5')
				h2 Log In
				hr
		div(class='row justify-content-center')
			div(class='col-sm-12 col-md-5')
				form(id='loginForm')
					div(class='form-group')
						label(for='inputLoginUsername') Username
						input(type='text', name='username', class='form-control', id='inputLoginUsername')
					div(class='form-group')
						label(for='inputLoginPassword') Password
						input(type='password', name='password', class='form-control', id='inputLoginPassword')
					button(type='submit', class='btn btn-success btn-block') Log In
		div(class='row justify-content-center')
			div(class='col-sm-12 col-md-5')
				hr
		div(class='row justify-content-center')
			div(class='col-sm-12 col-md-5')
				button(type='button', class='btn btn-outline-primary btn-block', id='inputLogInGoogle') Log In with Google
		div(class='row justify-content-center mt-3')
			div(class='col-sm-12 col-md-5')
				button(type='button', class='btn btn-secondary btn-block', id='inputLogIn42') Log In with 42
		div(class='row justify-content-center')
			div(class='col-md-5')
				hr
		div(class='row justify-content-center')
			div(class='col-md-5')
				a(href='/recover' class='text-muted') 
					small Forgot password?