extends layout

block content
	div(class='container-fluid')
		div(class='row justify-content-center mt-3')
			div(class='col-md-5')
				h2 Change password
				hr
		div(class='row justify-content-center')
			div(class='col-md-5')
				form(id='passwordChange')
					div(class='form-group')
						label(for='inputSignUpPassword') Password
						input(type='password', name='password', class='form-control', id='inputNewPassword')
					div(class='form-group')
						label(for='inputSignUpConfirmPassword') Confirm password
						input(type='password', name='confirmPassword', class='form-control', id='inputConfirmNewPassword')
					button(type='submit', class='btn btn-primary btn-block') Save