extends layout

block content
	div(class='container-fluid')
		div(class='row mt-3')
			div(class='col-12')
				input(type='text', class='form-control form-control-lg', id='inputSearch', placeholder='Search for movies..')
		div(class='row')
			div(class='col-12')
				nav(class='navbar navbar-toggleable-md navbar-light', id='inputSearchOptions', style='background-color: #f9f9f9;')
					form(class='form-inline my-2 my-lg-0')
						label(for='inputSearchGenres', class="mr-sm-2") Genres
						select(class='custom-select mb-2 mr-sm-4 mb-sm-0', id='inputSearchGenres', name='genres' disabled)
							option(selected, value='') Choose..
							option(value='action') Action
							option(value='Adventure') Adventure
							option(value='Animation') Animation
							option(value='Biography') Biography
							option(value='Comedy') Comedy
							option(value='Crime') Crime
							option(value='Documentary') Documentary
							option(value='Drama') Drama
							option(value='Family') Family
							option(value='Fantasy') Fantasy
							option(value='Game-Show') Game-Show
							option(value='History') History
							option(value='Horror') Horror
							option(value='Music') Music
							option(value='Musical') Musical
							option(value='Mystery') Mystery
							option(value='News') News
							option(value='Reality-TV') Reality-TV
							option(value='Romance') Romance
							option(value='Sci-Fi') Sci-Fi
							option(value='Sitcom') Sitcom
							option(value='Sport') Sport
							option(value='Talk-Show') Talk-Show
							option(value='Thriller') Thriller
							option(value='War') War
							option(value='Western') Western
						label(for='inputSearchRatings', class='mr-sm-2') Ratings
						select(class='custom-select mb-2 mr-sm-4 mb-sm-0', id='inputSearchRatings', name='ratings' disabled)
							option(selected) Choose..
							option(value='1') &#9733; &#9734; &#9734; &#9734; &#9734;
							option(value='2') &#9733; &#9733; &#9734; &#9734; &#9734;
							option(value='3') &#9733; &#9733; &#9733; &#9734; &#9734;
							option(value='4') &#9733; &#9733; &#9733; &#9733; &#9734;
							option(value='5') &#9733; &#9733; &#9733; &#9733; &#9733;
						label(for='inputSearchDateFrom', class='mr-sm-2') Release date between
						select(class='custom-select mb-2 mr-sm-2 mb-sm-0', id='inputSearchDateFrom', name='dateFrom' disabled)
							option(selected, value='') Choose..
							option(value='1992') 1992
							option(value='1996') 1996
							option(value='2000') 2000
							option(value='2001') 2001
							option(value='2004') 2004
							option(value='2007') 2007
							option(value='2010') 2010
							option(value='2011') 2011
							option(value='2012') 2012
							option(value='2013') 2013
							option(value='2014') 2014
							option(value='2015') 2015
							option(value='2016') 2016
							option(value='2017') 2017
						label(for='inputSearchDateTo', class='mr-sm-2') and
						select(class='custom-select mb-2 mr-sm-4 mb-sm-0', id='inputSearchDateTo', name='dateTo' disabled)
							option(selected, value='') Choose..
							option(value='1992') 1992
							option(value='1996') 1996
							option(value='2000') 2000
							option(value='2001') 2001
							option(value='2004') 2004
							option(value='2007') 2007
							option(value='2010') 2010
							option(value='2011') 2011
							option(value='2012') 2012
							option(value='2013') 2013
							option(value='2014') 2014
							option(value='2015') 2015
							option(value='2016') 2016
							option(value='2017') 2017
		div(class='row mt-3', id='movieList')